* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2a2a72;
    background-image: linear-gradient(to right, #237b23, #302b63, #343e24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-image: linear-gradient(to right, #8220c3, #3117b3);
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 400px;
}

input::placeholder {
    color: #bbb;
}

input:focus {
    outline: none;
}

.card {
    background-color: #4c2885;
    background-image: linear-gradient(to right, #005aa7, #9ee07d);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    max-width: 800px;
}

.avatar {
    border: 10px solid #2a2a72;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #2a2a72;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

h1 {
    margin-top: 0.5em;
    font-size: 3rem;
    text-align: center;
    animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;

        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.color-gradient {
    background-image: -webkit-linear-gradient(92deg, #28C76F, #0396FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

/* Adjust the layout for smaller screens */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  input {
    width: 100%;
    max-width: 400px;
  }

  .card {
    flex-direction: column;
    padding: 2rem;
  }

  .avatar {
    margin: 0 auto;
  }
}
